{{> post-info post}}

{{#if loggedIn}}
{{!-- will only display content below if loggedIn is truthy 
note: #if only works as a boolean, not as an if statement --}}

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
{{!-- will only load these and their event listeners if we are logged in and will have view
 and access to the form/buttons. This will also prevent dev tool errors for an event listener
 on a button that doesn't exist/isn't loaded --}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}